{% extends 'myapp/base.html' %}

{% load crispy_forms_tags %}

    {% block content %}
        <body class="">
            <h1 class="text-center">
                Create  a new record Now
            </h1>
            <hr>

            <form action="" method="POST" autocomplete="off">

                {% csrf_token %}

                {{form.as_p}}

                <button type="submit" class="btn btn-primary">Create</button>
                <a href="{% url 'my_dashboard' %}" class="btn btn-danger">Cancel</a>

            </form>
        </body>

    {% endblock content%}